* {
	box-sizing: border-box;
}

.wrapper {
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.canvas {
	width: 100%;
	height: 80%;
	cursor: pointer;
}

.menu {
	width: 100%;
	height: 20%;
	background-color: #000;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
